<div class="col-xs-12" id="quienesSomos1">
	<div class="col-sm-5" id="fotoQuienesSomos1"><img class="imgBoxShadow" src="../../assets/img/quienesSomos/quienesSomos1.jpg" alt=""></div>
	<div class="col-sm-1 hidden-xs">&nbsp;</div>
	<div class="col-sm-6" id="textoQuienesSomos1">
		<div class="titulo2 staggerAnimation" id="tituloQuienesSomos1">Acerca de APPI RED</div>
		<div class="texto2 staggerAnimation"><b>APPI SRL</b> cuenta con un equipo de profesionales con amplia experiencia en el desarrollo y puesta en marcha de modelos de atención eficientes, orientados a satisfacer en tiempo y calidad al usuario de la <b>Obra Social</b>. El conocimento, la experiencia y el impulso firme y sostenido que aportan sus integrantes, permiten obtener una mirada integral sobre la salud y brindar una excelente prestación con mejor calidad de servicios al menor costo posible. La ejecución de políticas y estrategias de esta Red Nacional de Prestaciones Médicas contribuye a brindar una atención de salud equitativa a los beneficiarios, cualquiera sea su lugar de residencia en la República Argentina.</div>
	</div>
</div>
<div class="col-xs-12" id="quienesSomos2">
	<div class="col-sm-2 col-xs-1">&nbsp;</div>
	<div class="col-sm-8 col-xs-10" id="cuadroCont">
		<div class="col-xs-12 staggerAnimation2" id="titulosQuienesSomos">
			<div>
				<div class="tituloQuienesSomosSlide" id="tituloitem1" (click)="mostrarItemSlide('item1')" style="color:white">Misión</div>
				<div class="tituloQuienesSomosSlide" id="tituloitem2" (click)="mostrarItemSlide('item2')">Visión</div>
				<div class="tituloQuienesSomosSlide" id="tituloitem3" (click)="mostrarItemSlide('item3')">Valores</div>
			</div>
		</div>
		<div class="col-xs-12 staggerAnimation2" id="textoQuienesSomos">
			<div class="textoItemQuienesSomos" id="item1">Ofrecer la mayor cobertura nacional de prestadores médicos que aseguren una atención de salud equitativa, privilegiando un trato personalizado humanizado y de respeto que garanticen siempre la cobertura y satisfacción de las necesidades de los pacientes. Siempre en un ambiente de trabajo armonioso, donde se destaquen los valores de respeto, calidad y solidaridad.</div>
			<div class="textoItemQuienesSomos" id="item2" style="display:none">Consolidar una Red Nacional de Servicios de Salud con el propósito de brindar soluciones a las necesidades de las Obras Sociales y sus afiliados, implicándose activamente en las necesidades sociales y culturales de la comunidad, garantizando calidad de atención, eficacia en la evaluación y control, optimizando la utilización de recursos, a través de un equipo de trabajo capacitado donde pueda desarrollarse el talento individual ayudando al logro de las expectativas de cada uno.</div>
			<div class="textoItemQuienesSomos" id="item3" style="display:none"><b>Compromiso:</b> Capacidad de responder por las obligaciones asumidas. Sentirse obligado con los objetivos de organización y hacerlos propios.<br><b>Trabajo en Equipo:</b> Trabajar en forma coordinada compartiendo la meta común de satisfacer las necesidades de todos los involucrados en los procesos.<br><b>Orientación al Afiliado:</b> Encaminar los actos para cubrir con las expectativas del afiliado, y reconocer en el bien común el sentido de una prestación exitosa para todos. </div>
		</div>
		<div class="boton1 staggerAnimation2" style="cursor:pointer;"><a [routerLink]="['/contacto']"><b>QUIERO ASOCIARME</b></a></div>
	</div>
	<div class="col-sm-2 col-xs-1">&nbsp;</div>
</div>