<div class="col-xs-12" id="home1">
	<div class="contTitulo">
		<div class="titulo1 staggerAnimation">RED NACIONAL DE PRESTACIONES MÉDICAS</div>
		<div class="texto1 staggerAnimation"><b>APPI SRL</b> se encarga de poner en funcionamiento modelos de atención deficientes, enfocados en resolver en tiempo y forma las necesidades del usuario de la <b>Obra Social</b>.</div>
		<div class="boton1 staggerAnimation" style="cursor:pointer;"><a [routerLink]="['/contacto']"><b>QUIERO ASOCIARME</b></a></div>
	</div>
	<div class="imagenSlider" id="imagenSlider1"></div>
	<div class="imagenSlider" id="imagenSlider2"></div>
	<div class="imagenSlider" id="imagenSlider3"></div>
</div>
<div class="col-xs-12" id="home2">
	<div class="titulo2 fadeInAnimation" id="titulo2v2">Confiaron en nosotros</div>
	<div class="slider" id="sliderHome">
		<div class="col-xs-1">
			<div class="prev" style="cursor: pointer" (click)="moverSlider(sliderActual-1)"><span class="glyphicon glyphicon-menu-left"></span></div>
		</div>
		<div class="sliderMarco fadeInAnimation col-xs-10">
			<div class="sliderContainer">
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/1.jpg') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/2.jpg') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/3.gif') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/4.png') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/5.png') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/6.png') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/7.jpg') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/8.jpg') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/9.jpg') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/10.jpg') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/11.jpg') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/12.png') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/13.jpg') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/14.png') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/15.png') no-repeat"></div>
				<div class="sliderItem col-sm-4" style="background: url('../assets/img/home/slider2/16.svg') no-repeat"></div>
			</div>
		</div>
		<div class="col-xs-1">
			<div class="next" style="cursor: pointer" (click)="moverSlider(sliderActual+1)"><span class="glyphicon glyphicon-menu-right"></span></div>
		</div>
	</div>
</div> 
<div class="col-xs-12" id="home3">
	<div class="col-sm-5 fadeInAnimation" id="fotoHome3"><img class="imgBoxShadow" src="../../assets/img/home/home3.jpg" alt=""></div>
	<div class="col-sm-1 hidden-xs">&nbsp;</div>
	<div class="col-sm-6 fadeInAnimation" id="textoHome3">
		<div class="titulo2" id="tituloHome3">Trabajamos para ayudarte</div>
		<div class="texto2"><b>APPI SRL</b> se compone de un equipo de profesionales que cuentan con una amplia experiencia en el desarrollo y la puesta en marcha de modelos de atención eficientes orientados a resolver las necesidades de salud de las personas y satisfacer en tiempo, calidad y al usuario de la OBRA SOCIAL.</div>
		<div class="link1"><a [routerLink]="['/quienesSomos']">LEER MÁS ></a></div>
	</div>
</div>
<div class="col-xs-12" id="home4">
	<div class="titulo2 fadeInAnimation">Nuestras sedes</div>
	<div id="home4Cont" class="row">
		<div class="mapaHome col-sm-8 fadeInAnimation">
			<agm-map [latitude]="lat" [longitude]="lon" [zoom]="13" [styles]=mapStyles style="height: 100%">
				<agm-marker *ngFor="let m of sedes; let i = index" [iconUrl]="'../../assets/img/mapIcon.png'" [latitude]="m.lat" [longitude]="m.lon"></agm-marker>
			</agm-map>
		</div>
		<div class="col-sm-4 fadeInAnimation">
			<div class="separadorSede">
				<div class="link1" (click)="slideDown($event, 'cordoba')">&rsaquo; CASA CENTRAL APPI CÓRDOBA</div>
				<div class="texto3">
					9 de Julio 2059<br>
					Tel. / Fax: (0351) 487 0782 / (0351) 4313094<br>
					<br>
					Appi atención al beneficiario Córdoba:<br>
					<br>
					0810-888-0707<br>
					Tel. / Fax: (0351) 4806005 / 4876762
				</div>
			</div>
			<div class="separadorSede">
				<div class="link1" (click)="slideDown($event, 'bsas')">&rsaquo; APPI BUENOS AIRES</div>
				<div class="texto3">
					Beruti 2524 CABA<br>
					Tel.: (011) 4823-3852/ (011) 4824-4184<br>
					Fax: (011) 4823-6077 / 0810-444-0066
				</div>
			</div>
			<div class="separadorSede">
	            <div class="link1" (click)="slideDown($event, 'tucuman')">&rsaquo; APPI TUCUMÁN</div>
	            <div class="texto3">
					Batalla de Maipú 668<br>
					Tel. / Fax: (0381) 4976397 / (0381) 4978287
				</div>
			</div>
			<div class="separadorSede">
	            <div class="link1" (click)="slideDown($event, 'mendoza')">&rsaquo; APPI MENDOZA</div>
	            <div class="texto3">
					CFTM SRL (Mendoza Capital): Ejercito de los Andes 1696 Dorrego Guaymallen. <br>
					Tel: 0261-4327870/64/65 <br>
					Seres Salud (Coberturas Especiales): Espejo N151 - Ciudad. <br>
					Tel-fax: 0261-4239354 / 0800 666 7373 <br>
					Ser Salud (Mendoza Interior): Montevideo 765 PB. <br>
					Tel: 0810-6667375 / 0261-4253883 
				</div>
			</div>
			<div class="separadorSede">
	            <div class="link1" (click)="slideDown($event, 'sanLuis')">&rsaquo; APPI SAN LUIS</div>
	            <div class="texto3">
					Appi Red: Pedernera 384.<br>
					Tel: 0266-4421623
				</div>
			</div>
			<div class="separadorSede">
	            <div class="link1" (click)="slideDown($event, 'sanJuan')">&rsaquo; APPI SAN JUAN</div>
	            <div class="texto3">
					Amisa: 25 de Mayo esquina Rioja.<br>
					Tel: 0264-4273404/06 (Sanatorio Sarmiento)<br>
					Amisa: Avenida Libertador 945 Este.<br>
					Tel: 0264-4275990
				</div>
			</div>
		</div>
	</div>
</div>